<div
    class="todo"
    [class.completed]="todo.completed"
  >
  <label class="todo__status-label">
    <input
      type="checkbox"
      class="todo__status"
      [(ngModel)]="todo.completed"
    />
  </label>

  <form *ngIf="editing; else titleBlock">
    <input
      type="text"
      class="todo__title-field"
      placeholder="Empty todo will be deleted"
      value="Todo is being edited now"
    />
  </form>

  <ng-template #titleBlock>
    <span class="todo__title">
      {{todo.title}}
    </span>

    <button
      type="button"
      class="todo__remove"
      (click)="delete.emit()"
    >
      ×
    </button>
  </ng-template>

  <div class="modal overlay" [class.is-active]="false">
    <div class="modal-background has-background-white-ter"></div>
    <div class="loader"></div>
  </div>
</div>
