<div class="todoapp">
  <h1 class="todoapp__title">todos</h1>

  <!-- {{title.errors | json}} -->

  <div class="todoapp__content">
    <header class="todoapp__header">
      <button type="button" class="todoapp__toggle-all active"></button>

      <form (ngSubmit)="handleFormSubmit()" [formGroup]="todoForm">
        <input
          type="text"
          class="todoapp__new-todo"
          [style.backgroundColor]="title.errors && title.dirty ? '#f88' : ''"
          placeholder="What needs to be done?"
          formControlName="title"
        />
      </form>
    </header>

    <section class="todoapp__main">
      <app-todo
        *ngFor="let todo of todos; let i = index; trackBy: trackById"
        [todo]="todo"
        (delete)="deleteTodo(todo.id)"
        (rename)="renameTodo(todo.id, $event)"
        (toggle)="toggleTodo(todo.id)"
      >
      </app-todo>
    </section>

    <footer class="todoapp__footer">
      <span class="todo-count">
        {{activeTodos.length}} items left
      </span>

      <nav class="filter">
        <a href="#/" class="filter__link selected">
          All
        </a>

        <a href="#/active" class="filter__link">
          Active
        </a>

        <a href="#/completed" class="filter__link">
          Completed
        </a>
      </nav>

      <button type="button" class="todoapp__clear-completed">
        Clear completed
      </button>
    </footer>
  </div>

  <div class="notification is-danger is-light has-text-weight-normal">
    <button type="button" class="delete"></button>

    Unable to load todos
    <br />
    Title should not be empty
    <br />
    Unable to add a todo
    <br />
    Unable to delete a todo
    <br />
    Unable to update a todo
  </div>
</div>
